<h1> Are you sure you want to delete your task?</h1>

<!-- <select>
  <option value="yes">Yes</option>
  <option value="no">No</option>
</select> -->

<button><%= link_to("Back to Home", index_path) %></button>
