<div class="task-container">
  <div class="task">
    <h2 class="create-task-header">Create a Task</h2>
    
    <%= render partial: "form", locals: {action_name: "create"} %>

    <button><%= link_to("Back to Home", index_path) %></button>
  </div>
</div>
